{{#if user}}
{{else}}
<a class="cabecalho-titulo" href="index.php">PIRATES<span class="cabecalho-titulo-simbolo">*</span>SAILING</a>
<nav class="cabecalho-menu">
    <a class="cabecalho-menu-item" href="/">PÁGINA INICIAL</a>
    <a class="cabecalho-menu-item" href="/about">SOBRE O JOGO</a>
    <a class="cabecalho-menu-item" href="/usuarios/login">INICIAR SESSÃO</a>
    <a class="cabecalho-menu-botao" href="/usuarios/registro">CADASTRAR AGORA</a>
</nav>
{{/if}}