<link rel="stylesheet" href="/css/background-img.css">
<link rel="stylesheet" href="/css/index/conteudo.css">
<section class="conteudo">
    <div class="conteudo-principal">
        <div class="bloco">
            <p class="conteudo-principal-texto">Junte-se a batalha!</p>
            <p class="conteudo-principal-simbolo">$</p>
            <p class="conteudo-principal-texto">Erga-se e mostre o verdadeiro poder de um pirata!</p>
        </div>
        <a class="conteudo-principal-botao" href="/usuarios/login">JOGAR AGORA</a>   
    </div>
</section>