.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 15px 80px;
    background-color: #23252f7e;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.perfil {
    object-fit: cover;
    width: 50px;
    border-radius: 100%;
}

.cabecalho > a {
    display: flex;
}

.cabecalho > a > span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    align-self: center;
    color: #fff;
    margin-left: 15px;
}

.cabecalho-menu-item {
    color: #B9B9B9;
    align-self: center;
}

.cabecalho-menu-item:hover {
    color: #fff;
}

.cor-menu {
    color: #fff !important;
}