.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Página Inicial */

    .conteudo-principal-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 250px 0;
        background-color: #23252F;
    }

    .apr_nome {
        font-size: 60px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }

    .apr {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .apr > p {
        display: flex;
        justify-content: center;
    }

    .botao-sobre {
        display: flex;
        padding: 15px 25px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        background-color: #6d59a8;
        border-radius: 10px;
        color: #fff;
    }

    /* Página Inicial Responsiva */
        /* width 768px */
            @media only screen and (max-width: 768px) {
                .conteudo-principal-inicio {
                    padding: 200px 0;
                }
                .apr_nome {
                    font-size: 40px;
                }
                .apr {
                    font-size: 17px;
                    margin: 15px 0;
                }
            }
        /* width 639px */
            @media only screen and (max-width: 639px) {
                .conteudo-principal-inicio{
                    padding: 180px 0;
                }
                .apr_nome {
                    font-size: 30px;
                }
                .apr {
                    font-size: 15px;
                }
                .botao-sobre {
                    font-size: 16px;
                }
            }
        /* width 375px */
            @media only screen and (max-width: 375px) {
                .apr_nome {
                    font-size: 25px;
                }
            }

/* Sobre Mim */

    .conteudo-principal-sobre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "foto sobreMim";
        padding-top: 200px;
        background-color: #1A1C23;
    }

    .foto {
        grid-area: foto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .foto-perfil {
        width: 400px;
        border-radius: 10px;
    }

    .sobreMim {
        grid-area: sobreMim;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        gap: 30px;
    }

    .sobreMim > .texto {
        color: #fff;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    .sobreMim > h1 {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        align-self: flex-start;
    }

    .faculdade {
        color: #fff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        align-self: flex-start;
    }

    .baixar-cv {
        display: flex;
        padding: 15px 25px;
        background-color: #6d59a8;
        border: none;
        border-radius: 10px;
        align-self: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }

    /* Sobre Mim Responsivo */
        /* width 768px */
            @media only screen and (max-width: 768px) {
                .foto-perfil {
                    width: 320px;
                }
                .sobreMim {
                    gap: 15px;
                    padding-right: 25px;
                }
                .sobreMim > h1 {
                    font-size: 25px;
                }
                .sobreMim > .texto {
                    font-size: 17px;
                }
                .faculdade {
                font-size: 14px;
                }
                .baixar-cv {
                    font-size: 17px;
                }
            }
        /* width 684px */
            @media only screen and (max-width: 684px) {
                .foto-perfil {
                    width: 300px;
                }
            }
        /* width 639px */
            @media only screen and (max-width: 639px) {
                .conteudo-principal-sobre {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "foto" "sobreMim";
                    padding-top: 100px;
                }
                .foto-perfil {
                    width: 300px;
                    margin-bottom: 20px;
                }
                .sobreMim {
                    padding: 0 25px;
                }
                .sobreMim > h1 {
                    font-size: 25px;
                    align-self: center;
                }
                .sobreMim > .texto {
                    font-size: 15px;
                }
                .faculdade {
                    font-size: 14px;
                }
                .baixar-cv {
                    align-self: center;
                    font-size: 16px;
                }
            }

/* Habilidades */

    .conteudo-principal-hab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 100px 0 150px 0;
        background-color: #1A1C23;
        gap: 40px;
    }

    .conteudo-principal-hab > h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #fff;
    }

    .habilidades {
        text-align: left;
    }

    .hab-format {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: white;
        padding: 25px;
    }

    .hab-space-left {
        padding-left: 0;
    }

    .conteudo-principal-hab > .habilidades > span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #fff;
    }

    .hab-html {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 80%, #cfcfcf 20%);
        border-radius: 5px;
    }

    .hab-css {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 70%, #cfcfcf 30%);
        border-radius: 5px;
    }

    .hab-javascript {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 70%, #cfcfcf 30%);
        border-radius: 5px;
    }

    .hab-php {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 80%, #cfcfcf 20%);
        border-radius: 5px;
    }

    .hab-node {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 80%, #cfcfcf 20%);
        border-radius: 5px;
    }

    .hab-java {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 65%, #cfcfcf 35%);
        border-radius: 5px;
    }

    .hab-sql {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 65%, #cfcfcf 35%);
        border-radius: 5px;
    }

    .hab-nosql {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 65%, #cfcfcf 35%);
        border-radius: 5px;
    }

    .hab-bootstrap {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 55%, #cfcfcf 45%);
        border-radius: 5px;
    }

    .hab-jquery {
        padding: 20px 150px;
        background-image: linear-gradient(to right, #534480 55%, #cfcfcf 45%);
        border-radius: 5px;
    }

    .habilidades-respons {
        display: none;
    }

    /* Habilidades Responsivo */
        /* width 768px */
            @media only screen and (max-width: 768px) {
                .conteudo-principal-hab > h1 {
                    font-size: 25px;
                }
                .hab-format {
                    font-size: 14px;
                }
                .hab-html, .hab-css, .hab-javascript, .hab-php, .hab-node, .hab-java, .hab-sql, .hab-nosql, .hab-jquery, .hab-bootstrap {
                    padding: 20px 110px;
                }
            }
        /* width 684px */
            @media only screen and (max-width: 684px) {
                .hab-html, .hab-css, .hab-javascript, .hab-php, .hab-node, .hab-java, .hab-sql, .hab-nosql, .hab-jquery, .hab-bootstrap {
                    padding: 20px 95px;
                }
                .habilidades-respons {
                    display: none;
                }
            }
        /* width 639px */
            @media only screen and (max-width: 639px) {
                .conteudo-principal-hab {
                    padding: 100px 0;
                }

                .habilidades {
                    display: none;
                }
                
                .habilidades-respons {
                    display: block;
                    text-align: left;
                }

                .hab-format {
                    padding-left: 0;
                    font-size: 18px;
                }

                .r-html {
                    gap: 21px;
                }

                .r-css {
                   gap: 52px; 
                }

                .r-js {
                    gap: 25px;
                }

                .r-php {
                    gap: 52px;
                }

                .r-node {   
                    gap: 26px;
                }

                .r-java {
                    gap: 50px;
                }

                .r-sql {
                    gap: 26px;
                }

                .r-nosql {
                    gap: 53px;
                }

                .r-boot {
                    gap: 28px;
                }

                .r-jq {
                    gap: 51px;
                }

                
                .conteudo-principal-hab > h1 {
                    font-size: 25px;
                }
                
                .hab-format {
                    font-size: 18px;
                }

                .hab-html, .hab-css, .hab-javascript, .hab-php, .hab-node, .hab-java, .hab-sql, .hab-nosql, .hab-jquery, .hab-bootstrap {
                    padding: 20px 120px;
                }
            }
        /* width 375px */
            @media only screen and (max-width: 375px) {
                .hab-format {
                    font-size: 14px;
                }
            }
/* Contato */

    .conteudo-principal-contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 150px 0 100px 0;
        background-color: #23252F;
        gap: 40px;
    }

    .grid-contato {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "contato-info contato-texto";
    }

    .conteudo-principal-contato > h1 {
        color: #fff;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contato-texto {
        grid-area: contato-texto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .contato-texto > p {
        color: #fff;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 70px;
        text-align: justify;
    }

    .contato-info {
        grid-area: contato-info;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
    }

    .contato-info > h1 {
        display: flex;
        color: #fff;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left:70px;
    }

    .contato-info > p {
        display: flex;
        color: #fff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 70px;
    }

    .contato-info > p > a {
        color: #6d59a8;
    }

    .endereco {
        color: #fff;
        align-self: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    .btn-contato {
        display: flex;
        padding: 15px 25px;
        background-color: #6d59a8;
        border: none;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        align-self: flex-start;
    }

    /* Contato Responsivo */
        /* width 768px */
            @media only screen and (max-width: 768px) {
                .conteudo-principal-contato {
                    padding: 150px 0 50px 0;
                }
                .conteudo-principal-contato > h1 {
                    font-size: 25px;
                }
                .contato-info {
                    gap: 10px;
                    justify-content: flex-start;
                }
                .contato-info > h1 {
                    font-size: 20px;
                    padding-left: 20px;
                }
                .contato-info > p {
                    font-size: 17px;
                    padding: 0 20px;
                }
                .contato-texto > p {
                    font-size: 17.5px;
                    padding-right: 20px;
                }
                .endereco{
                    font-size: 13.5px;
                }
                .btn-contato {
                    font-size: 17px;
                }
            }
        /* width 639px */
            @media only screen and (max-width: 639px) {
                .conteudo-principal-contato {
                    padding: 100px 0 20px 0;
                    gap: 0px;
                }

                .conteudo-principal-contato > h1 {
                    font-size: 25px;
                }

                .grid-contato {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "contato-info" "contato-texto";
                }

                .contato-info {
                    gap: 10px;
                    justify-content: center;
                }

                .contato-info > h1 {
                    font-size: 19px;
                    padding-left: 25px;
                }

                .contato-info > p {
                    font-size: 15px;
                    padding: 0 25px;
                }

                .contato-texto > p {
                    font-size: 16px;
                    padding: 0 25px;
                }

                .endereco {
                    padding: 0 25px;
                    font-size: 14px;
                }

                .btn-contato {
                    font-size: 16px;
                    align-self: center;
                }
            }