<link rel="stylesheet" href="/css/suporte/conteudo.css">
<section class="conteudo">
    <div class="conteudo-principal">
            <form action="/suporte" method="post" class="formulario">
                <h1>Solicitar Suporte <span class="simbolo">$</span></h1>
                <label for="nome">Nome Completo</label>
                <div>
                    <input type="text" name="nome" id="nome" class="customizar-input" placeholder="Nome completo" required>
                </div>

                <label for="email">E-mail</label>
                <div>                      
                    <input type="email" name="email" id="email" class="customizar-input" placeholder="ex@exemplo.com" required>
                </div>

                <label for="assunto">Assunto</label>
                <div>                      
                    <input type="text" name="assunto" id="assunto" class="customizar-input" placeholder="Ex: Problema ao cadastrar" required>
                </div>

                <label for="descricao">Descrição</label>
                <div>         
                    <textarea name="descricao" id="descricao" class="customizar-textarea" rows="5" placeholder="Descreva sua dúvida aqui..." required></textarea>             
                </div>
                
                <div class="form-rodape">
                    <button class="enviar" name="enviar">Solicitar</button>
                    <span>Deseja criar uma conta? <a href="/usuarios/registro">Clique aqui</a></span>
                </div>
            </form>
    </div>
</section>