<link rel="stylesheet" href="/css/mudar_senha/conteudo.css">
<script src="/js/confirm_senha.js"></script>
<section class="conteudo">
    <div class="conteudo-principal">
        <form action="/conf_email/recuperar" method="post" class="formulario">
            <h1>Alterar Senha <span class="simbolo">$</span></h1>

            <input type="hidden" name="recuperar_senha" value="{{usuario.recuperarSenha}}">
            <label for="senha">Nova Senha</label>
            <div>
                <input type="password" onkeyup="check();" name="senha" id="senha" class="customizar-input" placeholder="Nova senha" required>
                <p id="msg"></p>
            </div>

            <label for="confirm_senha">Confirmar Senha</label>
            <div>
                <input type="password" onkeyup="check();" name="confirm_senha" id="confirm_senha" class="customizar-input" placeholder="Confirmar senha" required>
                <p id="message"></p>
            </div>
            
            <div class="form-rodape">
                <button class="alterar" name="mudar">Alterar Senha</button>
            </div>
        </form>
    </div>
</section>