<link rel="stylesheet" href="/css/recuperar/conteudo.css">
<section class="conteudo">
    <div class="conteudo-principal">
            <form action="/usuarios/recuperar_senha" method="post" class="formulario">
                <h1>Recuperar Senha <span class="simbolo">$</span></h1>

                <label for="usuario">Nome de Usuário</label>
                <div>                     
                    <input type="text" name="usuario" id="usuario" class="customizar-input" placeholder="Nome de usuário" required>
                </div>

                <label for="email">E-mail</label>
                <div>                      
                    <input type="email" name="email" id="email" class="customizar-input" placeholder="ex@exemplo.com" required>
                </div>

                <label for="data_nasc">Data de Nascimento</label>
                <div>                      
                    <input type="date" name="data_nasc" id="data_nasc" class="customizar-input" min="{{dataMin}}" max="{{dataLimite}}" required>
                </div>

                <label for="pergunta">Pergunta Secreta</label>
                <div>
                    <select name="pergunta" id="pergunta" class="customizar-input"> 
                        <option value="1">Qual o nome do seu primeiro animal de estimação?</option>
                        <option value="2" selected>Qual foi o primeiro jogo que você jogou?</option>
                        <option value="3">Qual foi o(a) primeiro(a) filme/série que você assistiu?</option>
                    </select>
                </div>

                <label for="resposta">Resposta</label>
                <div>
                    <input type="text" name="resposta" id="resposta" class="customizar-input" placeholder="Resposta" required>
                </div>
                
                <div class="form-rodape">
                    <button class="recuperar" name="recuperar">Recuperar</button>
                    <span>Não possui cadastro? <a href="/usuarios/registro">Clique aqui</a></span>
                </div>
            </form>
    </div>
</section>