<link rel="stylesheet" href="/css/cadastro/conteudo.css">
<script src="/js/confirm_senha.js"></script>
<section class="conteudo">
    <div class="conteudo-principal">
            <form action="/usuarios/registro" method="post" class="formulario">
                <h1>Cadastro <span class="simbolo">$</span></h1>
                <label for="nome">Nome Completo</label>
                <div>
                    <input type="text" name="nome" id="nome" class="customizar-input" placeholder="Nome completo" required>
                </div>

                <label for="usuario">Nome de Usuário</label>
                <div>                     
                    <input type="text" name="usuario" id="usuario" class="customizar-input" placeholder="Nome de usuário" required>
                </div>

                <label for="email">E-mail</label>
                <div>                      
                    <input type="email" name="email" id="email" class="customizar-input" placeholder="ex@exemplo.com" required>
                </div>

                <label for="data_nasc">Data de Nascimento</label>
                <div>                      
                    <input type="date" name="data_nasc" id="data_nasc" class="customizar-input" min="{{dataMin}}" max="{{dataLimite}}" required>
                </div>

                <label for="pergunta">Pergunta Secreta</label>
                <div>
                    <select name="pergunta" id="pergunta" class="customizar-input"> 
                        <option value="1">Qual o nome do seu primeiro animal de estimação?</option>
                        <option value="2" selected>Qual foi o primeiro jogo que você jogou?</option>
                        <option value="3">Qual foi o(a) primeiro(a) filme/série que você assistiu?</option>
                    </select>
                </div>

                <label for="resposta">Resposta</label>
                <div>
                    <input type="text" name="resposta" id="resposta" class="customizar-input" placeholder="Resposta" required>
                </div>

                <label for="senha">Senha</label>
                <div>
                    <input type="password" onkeyup="check();" name="senha" id="senha" class="customizar-input" placeholder="Senha" required>
                    <p id="msg"></p>
                </div>

                <label for="confirm_senha">Confirmar Senha</label>
                <div>
                    <input type="password" onkeyup="check();" name="confirm_senha" id="confirm_senha" class="customizar-input" placeholder="Confirmar senha" required>
                    <p id="message"></p>
                </div>
                
                <div class="form-rodape">
                    <button class="cadastrar" name="cadastrar">Cadastrar</button>
                    <span>Já possui uma conta? <a href="/usuarios/login">Clique aqui</a></span>
                </div>
            </form>
    </div>
</section>